<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiongmao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,343}}</string>
                <key>sourceSize</key>
                <string>{398,343}</string>
            </dict>
            <key>xiongmao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{389,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,341}}</string>
                <key>sourceSize</key>
                <string>{389,341}</string>
            </dict>
            <key>xiongmao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{226,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,380}}</string>
                <key>sourceSize</key>
                <string>{226,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>youqingTip.png</string>
            <key>size</key>
            <string>{402,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21a2a57b9b675bfd93d826f0ed9bb7d2:1/1$</string>
            <key>textureFileName</key>
            <string>youqingTip.png</string>
        </dict>
    </dict>
</plist>
