<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,646},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,646},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>card_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1550,809}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aec77a6895eddcbcbbdba450be55a65c$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
