<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1200},{67,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,79}}</string>
                <key>sourceSize</key>
                <string>{67,79}</string>
            </dict>
            <key>card.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1245},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>chuangjianfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1077},{446,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,115}}</string>
                <key>sourceSize</key>
                <string>{446,115}</string>
            </dict>
            <key>chuangjianfangjianxiaochangjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{502,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,439}}</string>
                <key>sourceSize</key>
                <string>{502,439}</string>
            </dict>
            <key>dingbuuibantoumingdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,100}}</string>
                <key>sourceSize</key>
                <string>{1280,100}</string>
            </dict>
            <key>fangkaxiaobeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,843},{241,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,42}}</string>
                <key>sourceSize</key>
                <string>{241,42}</string>
            </dict>
            <key>feedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1065},{145,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,133}}</string>
                <key>sourceSize</key>
                <string>{145,133}</string>
            </dict>
            <key>ffanghuifangj.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,960},{446,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,115}}</string>
                <key>sourceSize</key>
                <string>{446,115}</string>
            </dict>
            <key>goumaixiaojiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,742},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,363},{122,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>jiaruyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,843},{446,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,115}}</string>
                <key>sourceSize</key>
                <string>{446,115}</string>
            </dict>
            <key>jiaruyouxixiaochangjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,443},{485,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,398}}</string>
                <key>sourceSize</key>
                <string>{485,398}</string>
            </dict>
            <key>paomadengbeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{716,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,36}}</string>
                <key>sourceSize</key>
                <string>{716,36}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,491},{117,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,133}}</string>
                <key>sourceSize</key>
                <string>{117,133}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1194},{67,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,79}}</string>
                <key>sourceSize</key>
                <string>{67,79}</string>
            </dict>
            <key>touxing001.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,917},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>touxingbg001.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,626},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>wuhanmajiangtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1194},{318,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,49}}</string>
                <key>sourceSize</key>
                <string>{318,49}</string>
            </dict>
            <key>xiao'xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1194},{67,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,79}}</string>
                <key>sourceSize</key>
                <string>{67,79}</string>
            </dict>
            <key>xiaolaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1086},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>xixia001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{1280,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,62}}</string>
                <key>sourceSize</key>
                <string>{1280,62}</string>
            </dict>
            <key>zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,742},{173,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,139}}</string>
                <key>sourceSize</key>
                <string>{173,139}</string>
            </dict>
            <key>zhuziyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{106,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,359}}</string>
                <key>sourceSize</key>
                <string>{106,359}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_scene.png</string>
            <key>size</key>
            <string>{834,1284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d941043ecfdc400728befbebc33dcd07:1/1$</string>
            <key>textureFileName</key>
            <string>main_scene.png</string>
        </dict>
    </dict>
</plist>
